.btn {
    box-sizing: border-box;
    padding: 20px;
    border: none;
    background: transparent;
    font-size: 15px;
    &_success {
      background: turquoise;
      color: #fff;
    }
    &_error {
      background: red;
      color: #fff;
    }
    &_default {
      background: grey;
      color: #494949;
    }
    &_large {
      padding: 30px;
      font-size: 20px;
      font-weight: bold;
    }
  }