$color-body: #6a62d2;
$color-text: #ffffff;
$color-point: #d8d8d8;
$color-point-border: #097af7;
$size-point: 12px;
$size-point-border: $size-point * 1.5;
$size-font-size: 20px;
$width-sea-widget: 500px;
$height-sea-widget: 515px;